/* 
Colors:
#CFFFDC
#9CFFB8
#66FA90
#01942B
#14612A
*/
* {
    box-sizing: border-box;
}
body {
    background-color: #CFFFDC;
}
.column {
    position: absolute;
    top: 20px;
    width: 300px;
    padding: 0px 10px;
}
.pin {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #14612ade;
    margin: 10px 0px;
    background-color: #9CFFB8;
    /* background-image: url("./images/alaska.jpg"); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}